/* semantic color variables for this project */
:root {
  --color-white: #fff;
  --color-accent: #759242;
  --color-accent-disabled: #8d9481;
  --color-text: #111;
  --color-light-black: #2d2d2d;
  --color-dark-green: #374709;
  --color-light-green: #90b948;
  --color-gray: #e2e2e2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  color: var(--color-text);
  background: var(--color-white);
  line-height: 1.6;
  font-family: Roboto, Inter, -apple-system, "Segoe UI", sans-serif;
  font-size: 16px;
  min-width: 320px;
}
